@use '@/shared/mixins' as *;

.content {
  width: calc(100% - 32px);
  max-width: 1240px;
  margin: 0 auto;

  @include media-laptop {
    width: calc(100% - 100px);
  }

  @include media-desktop {
    width: calc(100% - 200px);
  }
}
